<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Show</title>
</head>
<body>
<p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYearOfPublication()}">VALUE</p>

<div th:if="${book.getCurrentOwner()}">
  <span>Книга сейчас у: </span> <span th:text="${book.getCurrentOwner().getName()}">Person Name</span>

  <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
    <input type="submit" value="Освободить книгу"/>
  </form>
</div>

<div th:if="${clients}">
  <span>Эта книга свободна. Кому назначить ее?</span>
  <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
    <label for="client">Выберите человека</label>
    <select th:object="${client}" th:field="*{id}" id="client">
      <option th:each="client : ${clients}" th:value="${client.getId()}" th:text="${client.getName()}">
      </option>
    </select>
    <input type="submit" value="Назначить книгу"/>
  </form>
</div>

<hr/>

<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
  <input type="submit" value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
  <input type="submit" value="Удалить"/>
</form>

</body>
</html>