<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book search</title>
</head>
<body>
  <form th:method="GET" th:action="@{/books/search}">
      <label for="query">Enter query: </label>
      <input type="text" name="query" id="query">
      <input type="submit" value="Search!">
  </form>
<div th:if="${books}">
    <p th:if="${books.isEmpty()}">No books found!</p>
    <div th:each="book : ${books}">
        <p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYearOfPublication()}">BOOK INFO</p>

        <p th:if="${book.getCurrentOwner()}" th:text="${'Book is taken by: ' + book.getCurrentOwner().getName()}">IS TAKEN</p>
        <p th:unless="${book.getCurrentOwner()}">This book is currently available!</p>
        <hr>
    </div>
</div>
</body>
</html>